<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Agregar Publicacion</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit">Guardar Publicacion</button>
    </form>
    <a href="{% url 'ver_lista_publicaciones' %}">ver publicaciones</a>
</body>
</html>