<!DOCTYPE html>
<head>
    <title>Vista de publicaciones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Vista de publicaciones</h1>
    <form method="GET">
        Buscar: <input type="text" name="q">
        <button type="submit">Buscar</button>
    </form>

    <form method="GET">
        inicio fecha: <input type="text" name="inicio_fecha">
        final fecha: <input type="text" name='final_fecha'>
        <button type="submit">filtrar</button>
    </form>

    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'detalles_publicacion' post.id %}">{{ post.titulo }}</a>
            </li>
        {% endfor %}
    </ul>

    <div>
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Anterior</a>
        {% endif %}

        <span>Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}</span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Siguiente</a>
        {% endif %}
    </div>

    <a href="{% url 'agregar_publicacion' %}">agregar_publicacion</a>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
</html>