<!DOCTYPE html>
<head>
    <title>Vista de publicaciones</title>
</head>
<body>
    <h1>Vista de publicaciones</h1>
    <form method="GET">
        Buscar: <input type="text" name="q">
        <button type="submit">Buscar</button>
    </form>
    <ul>
        {% for post in posts %}
            <li>{{ post.titulo }} - {{ post.contenido }} - {{ post.fecha_publicacion }} - {{ post.categoria }} - {{ post.autor }}</li>
        {% endfor %}
    </ul>
    <div>
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Anterior</a>
        {% endif %}

        <span>Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}</span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Siguiente</a>
        {% endif %}
    </div>
    <a href="{% url 'agregar_publicacion' %}">agregar_publicacion</a>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
</html>